{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <h2 class="text-center">Leaderboard</h2>
    <div class="table-responsive"  style="margin-top: 30px">
    <table class="table table-bordered table-hover" style="width: auto; margin: 0 auto;">
    <thead>
      <tr>
        <th>Username</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
        {% for record in board%}
            <tr>
            <td>{{ record.user }}</td>
            <td>{{ record.score }}</td>
            <td>{{ record.date }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
{% endblock %}