{% extends 'base.html' %}
{% block content %}
    <h2>Leaderboard</h2>
    <div class="table-responsive">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>
        {% for record in board%}
            <tr>
            <td>{{ record.user }}</td>
            <td>{{ record.score }}</td>
            <td>{{ record.date }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}