
{% extends "base.html" %}
{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>MTrivia</h1>
        <p>A trivia game about the University of Michigan!</p>
        <p><a class="btn btn-primary btn-lg" href="https://docs.google.com/document/d/1AfFzhvd52XaPk0PVX71VkmYNGYB8DDELIG3pcITnyJ8/edit#heading=h.tsuybg8r8rih" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
{% endblock %}