{% extends "base.html" %}
{% block content %}
    <div class="container">
    <h2>New User</h2>
        {% if confirm %}
               <div class="alert alert-success">User creation successful.</div>
        {% endif %}
        {% if error %}
           <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
  <form role="form" action="/createuser/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<script src="/static/js/form_validation.js"></script>
{% endblock %}